:root {
	--text: #111;
	--muted: #666;
	--line: #d8d8d8;
	--link: #5a2ca0;
	--paper: #ffffff;
	--menu-paper: #e00000;
}

html {
	width: 100%;
}

body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 16px;
	box-sizing: border-box;
	
	background: var(--paper);
	color: var(--text);
	
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	background-color: #f0f0f0;
	padding: 8px;
	border-radius: 8px;
}
